@font-face {
    font-family: 'mogula Regular';
    font-style: normal;
    font-weight: normal;
    src: local('mogula Regular'), url('assets/font/Mogula-8MWLM.woff') format('woff');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}

/* // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
} */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.headContainer {
    position: relative;
    width: 100%;
    height: 64rem;  /*Full viewport height */
    padding: 1rem 2rem 0 0;
    align-items: center;
    /* overflow: hidden; */
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Positioned behind the overlay */
    /* background-color: red; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 64, 64, 0.085), rgba(0, 64, 64, .355)); /* Adjust opacity as needed */
    z-index: 2; /* Positioned above the image */
}

.content {
    position: relative;
    z-index: 3; /* Positioned above the overlay */
    color: #fff; /* Ensure text is visible */
    font-weight: 600;
    /* padding: 20px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: center;
}


/* RECENTLY ADDED */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0rem 6rem 6rem 6rem;
    /* margin-inline: 6rem; */
    /* background-color: red; */
}

.header a{
    text-decoration: none;
    color: #000;
}

.logoArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    /* background-color: red; */
}

nav{
    display: flex;
    gap: 2rem;
    /* width: 100%; */
    padding-inline: 5px;
    padding-block: 20px;
    /* background-color: #f4c430; */
}

.onboardArea{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 10rem;
}

.onboardArea .signUp{
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 10px;
}

.SearchCartArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-right: 5rem;
}

.close-icon, .menu-icon{
    display: none;
}

.heroIntro {
    position: relative; /* Set the position to relative for absolute positioning of children */
    text-align: left; /* Center align text if desired */
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.heroIntro img {
    width: 80%; /* Make the image responsive, adjust as necessary */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position the image absolutely */
    top: 30% ; /* Align to the top */
    left: 8%; /* Align to the left */
    /* z-index: 3; Ensure the image is behind the text */
    opacity: 1;
    border: none;
}

.heroIntro h1 {
    position: relative; /* Position relative to the parent */
    z-index: 2; /* Ensure text is on top */
    color: #000; /* Change the text color for visibility against the image */
    padding: 0rem 6rem 2rem 6rem; /* Optional: add padding for better spacing */
    width: 100%;
    font-size: clamp(1rem, 5vw, 4rem);
    font-weight: 700;
    /* background-color: red; */
}

.dashLine hr{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    width: 8%;
    margin-block: 2%;
}

.design{
    background: linear-gradient(45deg, #ff6b6b, #f4c430, #1e90ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heroSliderWords{
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    padding: 3rem 6rem;
    margin: 5% 8%;
    color: #fff;
    width: 90%;
    /* background-color: red; */
}

.leftHero{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.leftHero ul li{
    list-style: none;
    text-align: left;
}

.rightHero{
    width: 40%;
    text-align: left;
}

.callToAction{
    display: flex;
    justify-content: space-between;
    /* gap: 50%; */
    align-items: center;
    /* padding-inline: 6rem; */
    margin-top: 5rem;
    margin-left: 6rem;
    width: 90%;
    /* background-color: red; */
}

.checkSol, .exploreMore{ 
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkSol a{
    background-color: aliceblue;
    padding: 0.625rem;
    border-radius: 1.25rem;
    color: #000;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1rem, 5vw, 1.25rem);
    text-decoration: none;
}

.exploreMore a{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1rem, 5vw, 1.25rem);
    text-decoration: none;
    color: #fff;
}


/* sectionTwoContent begins */

.sectionTwoContent{
    padding-inline: 6rem;
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: indigo;
    width: 100%;
}
.sectionTwoContent span{
    font-weight: bold;
}
.sectionTwoContent p{
    width: 75%;
    font-size: clamp(1rem, 5vw, 2.25rem);
}

/* sectionThreeContent Begins */
.sectionThreeContent{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-inline: 6rem;
    padding-block: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    background-color: greenyellow;
    width: 100%;
}
.sectionThreeHead{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    /* background-color: #ff6b6b; */
    width: 100%;
}

.sectionThreeHead img{
    padding-left: 3rem;
}

.sectionThreeContent p{
    padding-bottom: .5rem;
}

.sectionThreeContent .imageCards{
    display: flex;
    padding-top: 1.25rem;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    width: 100%;
}

.sectionThreeContent .imageCards img{
    width: 100%;
}

.sectionThreeContent .imageCards .image p{
    text-align: center;
    font-weight: 600;
    padding-top: 1rem;
}

/* sectionfourContent begins */

.sectionFourContent{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding-inline: 6rem;
    padding-block: 3rem;
    background-color: gold;
    width: 100%;
    /* height: 100%; */
}

.sectionFourHeader{
    display: grid;
    align-items: center;
    padding-block: 1rem;    
}

.sectionFourHeader p{
    font-size: clamp(1rem, 5vw, 2.25rem);
    font-weight: 600;
    padding-bottom: 0.625rem;
}

.sectionFourHeader img{
    padding-left: 13.75rem;
}
.fancyNumContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.fancyNumContent1{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2rem 0 0 4rem;
}

.fancyNumContent1 .numContent{
    width: 80%;
    background-color: #D5FD8F58;
    padding: 0.725rem;
    /* margin-left: -30px; */
}

.fancyNumContent2{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 4rem 0 0 14rem;
}

.fancyNumContent2 .numContent{
    width: 80%;
    background-color: #D5FD8F58;
    padding: 0.725rem;
}

.fancyNumContent3{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 4rem 0 0 6rem;
}

.fancyNumContent3 .numContent{
    width: 80%;
    background-color: #D5FD8F58;
    padding: 0.725rem;
    margin-left: -30px;
}

.fancyNumContent1 .num, 
.fancyNumContent2 .num, 
.fancyNumContent3 .num{
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    bottom: -38px;
    left: 40px;
    color: #000;
    z-index: 2;
    /* background-color: #f4c430; */

}

.fancyNumContent1 img,
.fancyNumContent2 img,
.fancyNumContent3 img{
    position: absolute;
    z-index: 1;
    /* background-color: #ff6b6b; */
}

/* section five begins */

.sectionFiveContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: #fff;
    background: linear-gradient(rgba(13, 22, 21, 1),rgba(73, 124, 118, 1));
    padding-block: 6rem;
    padding-top: 6rem;
    width: 100%;
}

.sectionFiveContent h1{
    text-align: center;
    width: 60%;
    padding-bottom: 2rem;
}
.sub-Mail{
    display: flex;
    align-items: center;
    padding-left: 12rem;
    gap: 1.25rem;
}

.sub-Mail input{
    padding: 2rem 5rem 2rem 1rem;
    border-radius: 2.5rem;
    border: none;
    height: 2.5rem;
    width: 34rem;
    font-size: 1.25rem;
    position: relative;
}

.sub-Mail .join-btn{
    display: flex;
    background-color: #D5FD8F;
    border-radius: 2rem;
    padding: .8rem;
    color: #000;
    font-weight: 600;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -180px;
}

.sub-Mail .join-btn a{
    text-decoration: none;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}


/* Section six begins */
.sectionSixContent{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 2rem 6rem 0 6rem;
    background-color: #D5FD8F;   
    width: 100%;
}
.sectionSix{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.sectionSixHeader img{
    /* padding-left: 7rem; */
    padding: .5rem 0 1rem 7rem;
}

.sectionSixSubHead{
    text-align: center;
    padding: 0 0 1rem 0;
}
.imgCluster{
    position: relative;
    padding-right: 50px;
}

.clusterMain1{
    position: relative;
    /* top: -100px; */
}

.clusterMain1 img{
    border-radius: 1rem;
}

.clusterMain2{
    position: relative;
    top: -120px;
    left: 120px;
}

.imgAvatatCont{
    display: flex;
    flex-direction: row;
}

.imgContent1,
.imgContent2{
    display: flex;
}

.sectionSixTextContent{
    width: 50%;
    line-height: 1.875rem;
}

.avatarId{
    text-align: right;
}

.imgContent3 img{
    border-radius: 100%;
    background-color: #000;
    /* color: #000; */
}

/* SectionSeven  begins*/

.sectionSevenContent{
    background: #24231D;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    padding-top: 4rem;
    padding-inline:0;
    padding: 6rem;
    width: 100%;
    color: #A5A49A;
    font-size: clamp(1rem, 5vw, 1rem);
    gap: 4rem;
}
.partOne{
    display: flex;
    flex-direction: column;
}


.partOne img{
    width: 70%;
}

.partOne p{
    width: 16.815rem;
    line-height: 1.875rem;
    font-size: clamp(1rem, 5vw, 1rem);
    font-weight: 500;
}
.iconsSocial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem 0;
}

.partOne .iconsSocial .icon{
    width: 100%;
    
}
.partOne .iconsSocial img{
    width: 90%;
    background-color: #1F1E17;
    padding: .5rem;
    border-radius: 100%;
}
.partTwo{
    display: grid;
    /* flex-direction: column; */
}

.partTwo .fancyList{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.partTwo h2{
    padding-bottom: 0.5rem;
    font-size: 14px;
    font-size: clamp(1rem, 5vw, 1rem);
    line-height: 1.625rem;
    font-weight: 500;
}
.partTwo .list{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    padding-top: 1.25rem;
}

.partThree{
    display: grid;
    flex-direction: column;
    /* flex-shrink: 1;
    flex-grow: 1; */
    /* flex-wrap: nowrap; */
}

.partThree h2{
    padding-bottom: 0.5rem;
    font-size: clamp(1rem, 5vw, 1rem);
    line-height: 1.625rem;
    font-weight: 500;
}

.partThree .fancyList{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;   
}

.partThree .list{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 1.25rem;
}

.partThree .list img{
    padding: 0.375rem;
}

.partThreeMail{
    display: flex;
    align-items: center;
    padding-left: .5rem;
    gap: 1.2rem;
}

.partThreeMail input{
    padding: 1.5rem 5rem 1.5rem 1rem;
    border-radius: 2.5rem;
    border: none;
    height: 2rem;
    width: 20rem;
    font-size: clamp(1rem, 5vw, 1.25rem);
    position: relative;
    margin-top: 1rem;
}

.partThreeMail .join-btn{
    display: flex;
    background-color: #D5FD8F;
    border-radius: 2rem;
    padding: .5rem;
    color: #000;
    font-weight: 600;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -70px;
    top: 10px;
}

.partThreeMail .join-btn a{
    text-decoration: none;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, 5vw, 1.2rem);
}

.sectionSevenContentExtra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    padding: 2rem 4rem;
    width: 100%;
    color: #fff;
}

.sectionSevenContentExtra .rightExtra span{
    padding-inline: 1rem;
}

.sectionSevenContentExtra .leftExtra span{
    font-style: italic;
    font-family: cursive;
    position: relative;
}

/* footer section */

.footer{
    position: relative;
    width: 100%;
}

.fontiFooter{
    width: 100%;
    position: relative;
    z-index: 0;
    /* display: flex; */
    background-color: goldenrod;
}

.fontiFooter h1{
    width: 100%;
    height: 100%;
    font-size: 26.5vw;
    font-family: 'mogula Regular';
    background-color: pink;
} 
.topers{
    width: 180px;
    position: absolute;
    z-index: 100;
    bottom: 160px;
    right: 160px;
    /* top: -210px;
    left: 400px; */
    /* background-color: red; */
}
.topers a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 1rem;
    background-color: #D5FD8F;
    padding: .8rem;
    border-radius: 2rem;
    width: 90%;
    color: #042C2C;
    font-size: 1rem;
    font-weight: 600;   
}

/* Responsive Design Starts */

/* @media (min-width: 768px) and (max-width: 1024px) {} */

/* Mobile-friendly adjustments */

@media (max-width: 768px) {
    .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures the image covers the entire container */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; /* Positioned behind the overlay */
        /* background-color: red; */
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 64, 64, 0.085), rgba(0, 64, 64, .355)); /* Adjust opacity as needed */
        z-index: 2; /* Positioned above the image */
    }
    
    .content {
        position: relative;
        z-index: 3; /* Positioned above the overlay */
        color: white; /* Ensure text is visible */
        font-weight: 600;
        padding: 0 2rem 0 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-self: start;
        justify-content: center;
    }
    
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 0rem 3rem 2.5rem 3rem;
        /* background-color: red; */
    }
    .onboardArea, .onboardArea a, .onboardArea .login, .onboardArea .signUp, .SearchCartArea img, nav a{
        display: none;
        color: #fff;
        /* background-color: red; */
    }

    .menu-icon{
        display: flex;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        background-color: #f4c430;
    }

    .heroIntro h1 {
        position: relative; /* Position relative to the parent */
        z-index: 2; /* Ensure text is on top */
        color: #000; /* Change the text color for visibility against the image */
        padding: 0rem 2rem 2rem 3rem; /* Optional: add padding for better spacing */
        width: 90%;
        /* font-size: 2rem; */
        display: block;
        /* background-color: red; */
    }

    .fontiFooter h1{
        display: flex;
        width: 100%;
        /* height: 594px; */
        font-size: 25vw;
        font-family: 'mogula Regular';
        /* font-weight: 50; */
        padding: 1rem;
        background-color: red;
    } 
    /* 
    .topers{
        width: 5.625rem;
        position: absolute;
        z-index: 2;
        top: -5.65625rem;      /* Dividing -15.3125rem by 2 = 7.65625*/
        /* left: 20.46875rem;   } /* dividing 60.9375rem by 2 = 30.46875 */


    .topers a{
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: .5rem;
        background-color: #D5FD8F;
        padding: .2rem;
        border-radius: 2rem;
        width: 100%;
        color: #042C2C;
        font-size: 1vw;
        font-weight: 300;   
    } */
    
    .fancyNumContent{
        display: flex;
        flex-direction: column;
        /* background-color: red; */
    }
    .sectionSixContent .imgAvatatCont{
        flex-direction: column;
    }
    .sectionSevenContent{
        background: #24231D;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:space-between;
        margin-top: 4rem;
        margin-inline:0;
        padding: 6rem;
        width: 100%;
        color: #A5A49A;
        font-size: 0.875rem;
        gap: 2rem;
    }






}


/* Smaller Mobile Adjustments */
@media (max-width: 576px) {

}
